{% set id = get_id(data) %}
<div class="relation-item" data-value="{{ id|esc_attr }}" data-priority="{{ priority|esc_attr }}">
    {{ remove_modal|raw }}
    {{ move_handle|raw }}
    <a href="{{ get_permalink(id)|raw }}" class="link relation-link" target="_blank">
        <span class="ellipsis-text relation-item-text d-block py-1">{{ get_title(id)|raw }} <smll>({{ id|raw }})</smll></span>
    </a>
</div>

